SECRET_GITHUB_BEARER_TOKEN = ""
SECRET_GITLAB_BEARER_TOKEN = ""
SECRET_LINKEDIN_API_ENDPOINT = ""
SECRET_ADMIN_IPS="127.0.0.1, 0.0.0.0"
PUBLIC_NETLIFY_SITE_ID = "0afd9771-2b63-4228-9750-56921d8247a6"
PUBLIC_GITLAB_API_ENDPOINT = "https://gitlab.com/api/graphql"
PUBLIC_GITHUB_API_ENDPOINT = "https://api.github.com/graphql"
PUBLIC_PROXYCURL_API_ENDPOINT = "https://nubela.co/proxycurl/api/v2"
PUBLIC_USE_INTRO = true
