@import "tailwindcss";
@plugin "@tailwindcss/typography";
@config "../tailwind.config.js";

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@theme {
  /* fonts */
  /* convert this to css format. use the var(--font-sans) format to get the default fonts */

  --font-sans: "Fira Code", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
    monospace, "Noto Color Emoji";
  --font-mono: "Fira Code", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
    monospace, "Noto Color Emoji";
  --font-serif: "Noto Serif", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;

  --color-bgColor: #000000;
  --color-bgOffColor: #999999;
  --color-textColor: #dddddd;
}

@utility scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: var(--color-textColor) var(--color-bgColor);
}

@utility container {
  margin-inline: auto;
}

body {
  @apply bg-bgColor text-textColor;
}

.h1 {
  @apply bg-textColor text-bgColor ps-4 text-2xl font-bold mb-4;
}

/* add a margin-bottom of 4rem to the h1 if it is not in a hgroup */
hgroup .h1 {
  @apply mb-0;
}

.h2 {
  @apply bg-textColor text-bgColor mb-4 ps-4 text-xl font-bold;
}

:root {
  --toastWidth: 30ch;
  --toastBackground: hsla(var(--b2) / var(--tw-text-opacity, 1));
  --toastColor: hsla(var(--bc) / var(--tw-bg-opacity, 1));
  --toastBarBackground: hsl(var(--p));
}

html {
  font-size: 14px
}

._toastMsg {
  @apply overflow-hidden text-ellipsis;
}

*::selection {
  background: #868686;
  color: #131313;
}

nav a:hover,
nav a.active {
  @apply bg-textColor text-bgColor;
}

.blog-page a {
  @apply underline;
}

.about-page p {
  @apply mb-4;
}

main a:hover {
  @apply underline;
}

.about-page #contact a {
  @apply underline;
}
